<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="raleway.css">
  <link rel="stylesheet" href="style.css">
  <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="jquery.timeago.js"></script>
	<meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;">
	<link rel="shortcut icon" href="favicon.png" type="image/png">
	
	<script type="text/javascript">
	function clearTab() {
		$("li").each(function() {
			$(this).removeClass("active_tab").removeClass("active_everywhere_first_far");
		});
	}
	
	$(document).ready(function() {
  	$("time.timeago").timeago();
  	
  	$("ul#geo_option li.everywhere").click(function(){
  		clearTab();
  		$(this).addClass("active_tab");
  		<% if @first_is_far %>
  			$(this).addClass("active_everywhere_first_far");
  		<% end %>
  		$("ul#checkins li.far").fadeIn();
  	});
  	
  	$("ul#geo_option li.local").click(function(){
  		clearTab();
  		$(this).addClass("active_tab");
  		$("ul#checkins li.far").fadeOut();	
  	});
	});
</script>
	
	<title>Fourrific - <%= @city %></title>

</head>
<body>
<div id="top">
	<h1>Fourrific</h1>

<ul id="geo_option">
	<li class="local active_tab"><%= @city %></li>
	<li class="everywhere">Everywhere</li>
</ul>

</div>

<div style="clear:left;"></div>

<ul id="checkins">
	<% @c['checkins']['checkin'].each do |checkin| %>
	<li class="checkin <% if checkin['distance'].to_i > 25 %>far<% end %>">
		<div class="userpic"><img src="<%= checkin['user']['photo'] %>" alt="userpic"></div>
		
		<time class="timeago" datetime="<%= checkin['created'] %>"><%= checkin['created'].to_time.strftime("%I:%M%p, %m/%d/%Y") %></time> | <span class="distance"><%= checkin['distance'] %> miles away</span>
		
		<h2><a href="http://foursquare.com/user/<%= checkin['user']['id'] %>"><%= checkin['user']['firstname'] %> <%= checkin['user']['lastname'] rescue nil %></a> @ <% if checkin['venue'].nil? %><span class="off_grid">[off the grid]</span><% else %><a href="http://foursquare.com/venue/<%= checkin['venue']['id'] %>"><%= checkin['venue']['name'] %></a><% end %></h2>
		
		<% if checkin['venue'] %>
		<p><span class="address"><%= checkin['venue']['address'] %><% if checkin['venue']['city'] %>, <%= checkin['venue']['city'] %><% end %></span></p>
		<% end %>
		
		<% if checkin['shout'] %>
		<p><span class="shout"><%= checkin['shout'] %></span></p>
		<% end %>
		
	</li>
	<% end %>
</ul>
<div id="foot">
	<p>Fourrific v<%= Fourrific::VERSION %> | By <a href="http://shhhaw.com">Al Shaw</a> | <a href="http://github.com/ashaw/fourrific/">Fork me!</a></p>
</div>
</body>
</html>