<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <link rel="stylesheet" href="style.css">
	<title>Fourrific</title>

</head>
<body>
<h1>Fourrific</h1>

<ul id="checkins">
	<% (@c/:checkin).each do |checkin| %>
	<li class="checkin">
		<span class="date"><%= (checkin/:created) %></span>
		<h2><%= (checkin/:user/:firstname) %> <%= (checkin/:user/:lastname) %> @ <%= (checkin/:venue/:name) %></h2>
		<p><span class="address"><%= (checkin/:venue/:address) %></span> <span class="shout"><%= (checkin/:shout) %></span></p>
	</li>
	<% end %>
</ul>
</body>